

@using BDHLProject.Models;
@model SearchModel


@{
    //List<C_All_Sits__> Players = ViewBag.Players;


}

<style type="text/css">
    .webGrid {
        margin: 4px;
        border-collapse: collapse;
        width: 100%;
        background-color: #f9f381;
    }

    .header {
        background-color: #C1D4E6;
        font-weight: bold;
        color: #FFF;
    }

    .webGrid th, .webGrid td {
        border: 1px solid #C0C0C0;
        padding: 5px;
    }


    .gridHead a:hover {
        text-decoration: underline;
    }

    .description {
        width: auto
    }

    .select {
        background-color: #71857C
    }

    tr:nth-child(odd) {
        background-color: #eee;
        font-weight: bold;
    }


    tr:nth-child(even) {
        background-color: #fff;
        font-weight: bold;
    }

    thead:first-child tr {
        background-color: #000;
        font-weight: bold;
    }

    tfoot tr {
        background-color: #000 !important;
        font-weight: bold;
    }

    a {
        color: white !important;
    }
</style>

@if (String.IsNullOrEmpty(Model.DBYear) || (Model.DBYear.Equals("2016/17") && Model.StatisticsType.Equals("5on5")))
{
    WebGrid grid = new WebGrid(Model.PlayersSixteenSeventeen, rowsPerPage: 20);

    <div class="container">
        @grid.GetHtml(

        tableStyle: "webGrid", // applying style on grid

        fillEmptyRows: true,
        //show empty row when there is only one record on page to it will display all empty rows there.
        headerStyle: "header", //applying style.

        footerStyle: "grid-footer", //applying style.

        mode: WebGridPagerModes.All, //paging to grid
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",

        columns: new[]  // colums in grid
        {
        //the model fields to display
        grid.Column("FirstName","First Name"),
        grid.Column("LastName", "Last Name"),
        grid.Column("Team"),
        grid.Column("Position"),
        grid.Column("Goals"),
        grid.Column("Assists"),
        grid.Column("Points"),
        grid.Column("PIM")

       })
        }
        else if (Model.DBYear.Equals("2016/17") && Model.StatisticsType.Equals("5on4"))
        {
        WebGrid grid = new WebGrid(Model.PPPlayersSixteenSeventeen, rowsPerPage: 20);
        @grid.GetHtml(

        tableStyle: "webGrid", // applying style on grid

        fillEmptyRows: true,
        //show empty row when there is only one record on page to it will display all empty rows there.
        headerStyle: "header", //applying style.

        footerStyle: "grid-footer", //applying style.

        mode: WebGridPagerModes.All, //paging to grid
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",

        columns: new[]  // colums in grid
        {
        //the model fields to display
        grid.Column("FirstName","First Name"),
        grid.Column("LastName", "Last Name"),
        grid.Column("Team"),
        grid.Column("Position"),
        grid.Column("Goals", "PP Goals"),
        grid.Column("Assists", "PP Assists"),
        grid.Column("Points", "PP Points"),
        grid.Column("TimeOnIcePerGame", "PP Time/Game")

       })
        }
    </div>

@{

}

<script language="javascript">
startHighlight = function()
{
	if (document.all && document.getElementById)
	{
		navRoot = document.getElementById("myGrid");

		// Get a reference to the TBODY element
		tbody = navRoot.childNodes[0];

		for (i = 1; i < tbody.childNodes.length; i++)
		{
			node = tbody.childNodes[i];
			if (node.nodeName == "TR")
			{
				node.onmouseover=function()
				{
					this.className = "over";
				}

				node.onmouseout=function()
				{
					this.className = this.className.replace("over", "");
				}
			}
		}
	}
}

window.onload = startHighlight;
</script>

<style>
    tr:hover, tr.over td {
        background-color: #f9f381;
    }
</style>
