@{
    ViewBag.Title = "Home Page";
}

<div class="parallax-title">
    <div class="title-container">
        <span class="title">Welcome to the BDHL</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="text-section-container">
            <p>
                Welcome to the official site of the BDHL. This cutting edge site is for the hardest of hardcore fantasy hockey players.
                The best fantasy players need the best tools and thats where we come in.
            </p>
        </div>
    </div>
</div>
<div class="parallax-draft"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="text-section-container">
            <p>
                Prepare for the all important draft with the official BDHL mock draft. Select the number of players in your draft, choose to select where you're picking or randomize, and
                customize the AI your drafting against to get the most realistic draft possible.
            </p>
        </div>
    </div>
</div>
<div class="parallax-statistics"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="text-section-container">
            <p>
                Get caught up on all the latest statistics with the new player search. Filter by every category you can think of. Get fancy and learn about the fancy stats.
            </p>
        </div>
    </div>
</div>
<div class="parallax-lineups"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="text-section-container">
            <p>
                View the rosters of every team along with depth charts and PP units.
            </p>
        </div>
    </div>
</div>
<div class="parallax-records"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="text-section-container">
            <p>
                Take a stroll down memory lane with the facts page giving in detail recaps of previous BDHL seasons including the records set each season, final standings, and winners.
            </p>
        </div>
    </div>
</div>
<div class="parallax-future"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="text-section-container">
            <p>
                Welcome to the future.
            </p>
        </div>
    </div>
</div>